@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: rgb(var(--card) / 0.5);
  --color-card-foreground: var(--card-foreground);
  --color-border: rgb(var(--border) / 0.1);
  --color-primary: rgb(var(--primary));
  --color-secondary: var(--secondary);
}

:root {
  --background: #030712;
  --foreground: #f8fafc;
  --card: 17 24 39;
  --card-foreground: #f8fafc;
  --border: 148 163 184;
  --primary: 99 102 241;
  /* Indigo 500 */
  --secondary: #64748b;
  --radius: 0.5rem;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  overflow-x: hidden;
  background-image:
    radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.15) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(139, 92, 246, 0.15) 0px, transparent 50%);
  min-height: 100vh;
}

/* Utilities */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}